#fhm-contact {
  position: relative;
  padding-top: 70px;
  margin-bottom: 240px;
}
#fhm-contact .contact-form {
  max-width: 528px;
}
#fhm-contact .contact-form h3{
  margin-bottom: 34px;
  text-transform: inherit;
}
#fhm-contact .main-form .main-form-control{
  margin-bottom: 16px;
  padding: 15px 20px;
  font-weight: 300;
}
.col-group{
  display: flex;
  gap: 16px;
}

#fhm-contact .contact-form textarea {
  margin-bottom: 50px;
}
#fhm-contact .contact-form .contact-submit {
  display: inline-flex;
  padding: 20px 247px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: #F96706;
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  margin-top: 19px;
}
#fhm-contact .contact-info {
  margin-top: 70px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px -6px 0px 0px #F96706, 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
  padding: 59px 47px 59px 51px;
}
#fhm-contact .contact-info .contact-info-item {
  display: flex;
  gap: 12px;
  margin-bottom: 28px;
}
#fhm-contact .contact-info .contact-info-item div{
  font-size: 14px;
}

#fhm-contact .contact-form .main-form input::placeholder, #fhm-contact .contact-form .main-form textarea::placeholder {
  color: #000;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
}

@media only screen and (max-width: 991px) {
  #fhm-contact {
    padding-top: 50px;
    margin-bottom: 100px;
  }
  #fhm-contact .contact-form {
    max-width: none;
  }
}
@media only screen and (max-width: 576px) {

  #fhm-contact {
    margin-bottom: 50px;
  }

  #fhm-contact .contact-form .contact-submit {
    padding: 16px;
    width: 100%;
  }
}